@font-face { font-family: NDSBios; src: url('../fonts/Nintendo-DS-BIOS.ttf'); } 
@font-face { font-family: FONT_NORMAL; src: url('../fonts/sm64coopdx-normal-font.ttf'); } 
@font-face { font-family: FONT_ALIASED; src: url('../fonts/sm64coopdx-aliased-font.ttf'); } 

html{
    min-height: 100%;
    position: relative;
}
header {
    padding: 15px;
    margin-bottom: 50px;
    background-position-x: -16px; 
    background-image: url('../images/backgrounds/back-green.png');
    background-size: 128px;
    color: rgb(255, 255, 255);
    font-family: FONT_NORMAL;
    
    border: 1px;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 1);
    outline-width: 5px;
    font-weight: normal;
}
body {
    background-image: url('../images/backgrounds/back-black.png');
    background-size: 128px;
    background-attachment: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*overflow: hidden; /* Hide scrollbars (No scroll)*/
    overflow-x: hidden; /* Hide horizontal scrollbar */
    color: rgb(255, 255, 255);
    font-family: FONT_NORMAL;
    padding-bottom: 100px;
}
h1 {
    font-family: FONT_ALIASED;
    line-height: 0;
    font-size: 400%;
    font-weight: normal;
}
h2 {
    font-family: FONT_ALIASED;
    line-height: 0.9;
    font-weight: normal;
}
footer {
    /* Non Scroll Footer
    position: fixed;
    bottom: 0;
    */

    /* Scroll Footer */
    position: fixed;
    bottom: 0;
    margin-top: 50px;

    text-align: center;
    padding: 15px;
    width: calc(100% - 30px);
    background-color: rgb(0, 0, 130);
    color: rgb(255, 255, 255);
    font-family: FONT_NORMAL;
    height: 40px;

    border: 1px;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 1);
    outline-width: 5px;

}
img, .side-design, body, header { /* Remove Anti-Aliasing */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
.text-box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-clip: padding-box;
    font-size: 150%;
    height: auto;
}

.side-design {
    position: fixed;
    top: 15px;
    display: block;
    width: 200px;
    height: 100%;
    background-color: rgba(35, 35, 35, 1);
    background-image: url('../images/backgrounds/side-scroll.png');
    background-size: 200px auto;
    color: #fff;
    box-sizing: border-box;
    
    border: 1px;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 1);
    outline-width: 5px;
    
    z-index: -1;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        background-position: 0 500px;
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}
.navigation-images {
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.squishy-run {
    position: fixed;
    bottom: 71px;
    left: -150px;
    height: 150px;
}
.links {
    float:right;
    text-align: center;
    line-height: 1.8;
    position: absolute;
    right: 10px;
}

<!--Link Recoloring-->
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(200, 200, 255);
    text-decoration: none;
}

a:active {
    color: rgb(100, 100, 255);
    text-decoration: none;
}